/* Link fonts */
@font-face {
	font-family: 'SF Pro Display';
	src: url('../fonts/SFProDisplay-Medium.eot');
	src: local('SF Pro Display Medium'), local('SFProDisplay-Medium'),
		 url('../fonts/SFProDisplay-Medium.woff') format('woff'),
		 url('../fonts/SFProDisplay-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal
}

@font-face {
	font-family: 'SF Pro Display';
	src: url('../fonts/SFProDisplay-RegularItalic.eot');
	src: local('SF Pro Display Regular Italic'), local('SFProDisplay-RegularItalic'),
		 url('../fonts/SFProDisplay-RegularItalic.woff') format('woff'),
		 url('../fonts/SFProDisplay-RegularItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'SF Pro Display';
	src: url('../fonts/SFProDisplay-Bold.eot');
	src: local('SF Pro Display Bold'), local('SFProDisplay-Bold'),
		 url('../fonts/SFProDisplay-Bold.woff') format('woff'),
		 url('../fonts/SFProDisplay-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'SF Pro Display';
	src: url('../fonts/SFProDisplay-Regular.eot');
	src: local('SF Pro Display Regular'), local('SFProDisplay-Regular'),
		 url('../fonts/SFProDisplay-Regular.woff') format('woff'),
		 url('../fonts/SFProDisplay-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
/* Link fonts */

/* Main Style */

body {
	font-family: 'SF Pro Display';
	font-weight: normal;
	font-style: normal;
	font-size: 20px;
	line-height: 28px;
	color: #000000;
}
.title {
	font-weight: bold;
	font-style: normal;
	color: #000000;
	font-size: 34px;
	line-height: 44px;
	position: relative;
}
.title::after {
	content: '';
	position: absolute;
	width: 120px;
	height: 5px;
	background-color: rgba(5, 129, 162, 0.8);
	border-radius: 12px;
	bottom: -10px;
	left: 50%;
	transform: translateX(-50%);
}
.title--blue {
	font-weight: bold;
	font-style: normal;
	font-size: 34px;
	line-height: 44px;
	color: #018FE3;
}
.section--padding {
	padding: 80px 0px 70px;
}

.container {
	max-width: 1340px;
	padding: 0px 10px;
	margin: 0 auto;
}


/* Main Style */



/* Header */
.header {
	padding: 25px 0px 24px;
	font-size: 16px;
	line-height: 20px;

}
.header__inner {
	display: flex;
	align-items: center;
}

.header__connection-tel {
	padding-left: 28px;
	position: relative;

}
.header__connection-tel::after {
	content: '';
	width: 20px;
	height: 20px;
	position: absolute;
	background-image: url('../images/icon-tel.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}
.header__connection-mail {
	padding-left: 30px;
	margin-left: 30px;
	position: relative;
}
.header__connection-mail::after {
	content: '';
	width: 20px;
	height: 15px;
	position: absolute;
	background-image: url('../images/icon-mail.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}

.header__user-log-in {
	padding-left: 24px;
	font-size: 16px;
	line-height: 20px;
	position: relative;
}
.header__user-log-in::after {
	content: '';
	width: 14px;
	height: 18px;
	position: absolute;
	background-image: url('../images/icon-lock.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}
.header__user-registration {
	padding-left: 28px;
	font-size: 16px;
	line-height: 20px;
	margin-left: 30px;
	position: relative;
}
.header__user-registration::after {
	content: '';
	width: 20px;
	height: 20px;
	position: absolute;
	background-image: url('../images/icon-user.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}
/* Header */

/* Main */

.main {
	padding: 50px 0px 240px;
	background-image: url('../images/main-bg.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	color: #FFFFFF;
}

.menu {
	

}
.menu__list {
	display: flex;
	font-size: 18px;
	line-height: 24px;
	align-items: center;
	justify-content: end;
	font-weight: 500;
	margin-bottom: 240px;
}
.menu__list-item  + .menu__list-item{
	margin-left: 30px;
}
.menu__list-link {
}
.main__info {
}
.main__info-title {
	font-weight: bold;
	font-size: 50px;
	line-height: 56px;
	margin-bottom: 25px;
}
.main__info-subtitle {
	max-width: 1050px;
	font-size: 26px;
	line-height: 34px;
	margin-bottom: 34px;
}
.main__info-btn {
	font-weight: 500;
	font-size: 18px;
	line-height: 30px;
	color: #FFFFFF;
	padding: 15px 30px;
	background: #018FE3;
	border-radius: 7px;
}

/* Main */

/* About */

.work {
	padding-top: 80px ;
}

.work-title {
	text-align: center;
	margin-bottom: 44px;
}

.work__subtitle {
	max-width: 1076px;
	font-style: italic;
	font-weight: normal;
	font-size: 25px;
	line-height: 34px;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 25px;
}
.work__items {
	display: flex;
}
.work-item {
	margin-left: 100px;
	position: relative;
	margin-top: 80px;
}
.count {
	position: absolute;
	top: 0;
	left: -75px;
	width: 50px;
	height: 50px;
	color: rgba(5, 129, 162, 0.8);
	border: 5px solid rgba(5, 129, 162, 0.8);
	filter: drop-shadow(4px 4px 4px rgba(5, 129, 162, 0.15));
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.work__item-img  img {
	object-fit: cover;
	max-width: 430px;
	height: 534px;
}
.work-item__title {
	font-weight: 600;
	font-size: 28px;
	line-height: 32px;
	margin-bottom: 20px;
}
.work-item__text {
	max-width: 364px;

}
.statistic-item__text {
	max-width: 530px;
}

/* About */

/* Character */
.character {
	background: #F6F6F6;
}
.character-title {
	text-align: center;
	margin-bottom: 44px;
}
.chatacter-subtitle {
	max-width: 1118px;
	text-align: center;
	font-style: italic;
	font-weight: normal;
	margin: 0 auto;
	margin-bottom: 80px;
}
.character__items {
	display: grid;
	grid-template-columns: repeat(2,1fr);
	grid-gap: 50px 180px;
}
.character__item {
	max-width: 642px;
	padding-left: 80px;
	position: relative;
	
}
.character__item-img {
	position: absolute;
	width: 50px;
	height: 50px;
	object-fit: cover;
	left: 0px;
	top: 0px;
}
.character__item-title {
	font-weight: 600;
	font-size: 28px;
	line-height: 32px;
	color: #000000;
	margin-bottom: 20px;
}
.character__item-text {
	
}
.statistics__items {
	display: grid;
	grid-template-columns: repeat(2,1fr);
	grid-gap: 50px 180px;
	
}

/* Character */

/* Development */

.development {
	display: flex;
	align-items: center;
	justify-content: center;
}
.development__content {
	
}
.development__content-title {
	font-weight: bold;
	font-size: 34px;
	line-height: 44px;
	margin-bottom: 70px;
	text-align: center;
}

.development__list {
	max-width: 740px;
	margin: 0 auto;
	margin-left: 15px;
}
.development__list-item {
	margin-bottom: 60px;
	padding-left: 80px ;
	position: relative;
}
.development__list-item img {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 50px;
	height: 50px;
	object-fit: cover;
}
.development__list-title {
	margin-bottom: 20px;
	font-weight: 600;
	font-size: 28px;
	line-height: 32px;
}
.development__list-text {
	max-width: 730px;
	font-size: 19px;
	line-height: 28px;
	padding: 0px 10px;
}
.developer-img img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

/* Development */

/* Member */

.member {
	padding: 70px 0px;
	background: #018FE3;
}

.member__inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.member__info {

}
.member-title {
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	line-height: 40px;
	color: #FFFFFF;
	margin-bottom: 10px;
}
.member-subtitle {
	color: #fff;
	max-width: 724px;
	font-style: normal;

}
.member-btn {
	background: #FFFFFF;
	border-radius: 7px;	
	padding: 15px 30px;
	color: #018FE3;
	font-weight: 500;
	font-size: 18px;
	line-height: 32px;
	letter-spacing: 1.1px;
}


/* Member */

/* Aplication */


.application-title {
	text-align: center;
	margin-bottom: 40px;
}

.application-text {
	padding:38px 30px ;
	border: 2px solid rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	text-align: center;
	margin-bottom: 70px;
}
.application__box {
}
.application-box-title {
	margin-bottom: 40px;
}
.application__inner {
	display: flex;
}
.application-item + .application-item {
	margin-left: 60px;
}
.application-item {
	max-width: 411px;
	position: relative;
	padding-left: 70px;

}
.application-item img {
	width: 50px;
	height: 50px;
	object-fit: cover;
	position: absolute;
	left: 0px;
	top: 0;
}
.application-subtitle {
	max-width: 700px;
	text-align: center;
	font-style: italic;
	font-weight: normal;
	margin: 0 auto;
	margin-bottom: 30px;

}
/* Aplication */  


/* About */

.about {
	padding: 80px 0px 90px;
	background: #1C1D1F;
	color: rgba(255, 255, 255, 0.6);

}
.container {
}
.about__inner {
	display: flex;
	justify-content: space-between;
}
.about__info {
}
.about__info-title,
.about__contact-title {
	font-weight: bold;
	font-size: 24px;
	line-height: 32px;
	margin-bottom: 15px;
}
.about__info-text {
	max-width: 542px;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 27px;
}
.about__contact {
	width: 400px;
}

.about__contact-list {
}
.about__contact-item {
	margin-bottom: 20px;
	font-weight: 500;
	font-size: 18px;
	line-height: 26px;
	padding-left: 40px;
	position: relative;

}
.about-phone::after,
.about-mail::after {
	content: '';
	position: absolute;
	width: 25px;
	height: 25px;
	background-position: center;
	background-repeat: no-repeat;
	left: 0px;
	top: 50%;
	transform: translateY(-50%);
}
.about-phone::after {
	background-image: url('../images/about-phone.svg');
}
.about-mail::after {
	background-image: url('../images/about-mail.svg');
}

/* About */

/* Footer */

.footer {
	padding: 25px;
	background-color: #000;
}
.footer__inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.footer-copy {
	color: #fff;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 30px;
}

.footer__menu {
	display: flex;
	color: rgba(255, 255, 255, 0.5);
}

.footer__menu-item + .footer__menu-item {
	margin-left: 20px;
}

.footer__menu-link{
	font-size: 19px;
}
/* Footer */



/* Media */
@media (max-width:1024px) {
	
}

@media (max-width:510px) {
	.container {
		padding: 0px 30px;
	}
	.title {
		font-size: 18px;
		line-height: 26px;
	}
	.title::after {
		content: '';
		position: absolute;
		width: 60px;
		height: 3px;
		background-color: rgba(5, 129, 162, 0.8);
		border-radius: 12px;
		bottom: -10px;
		left: 50%;
		transform: translateX(-50%);
	}
	.title--blue {
		font-size: 18px;
		line-height: 26px;
		color: #018FE3;
	}
	.header {
		padding: 30px 0px 15px;
		font-size: 14px;
		line-height: 17px;
 	}
	.header__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.burger {
		display:flex;
		align-items: center;
		justify-content: space-between;
		flex-direction: column;
		width: 35px;
		height: 22px;
		position: absolute;
		top: 20px;
		left: 30px;
		z-index: 2;
	}
	.burger span {
		width: 100%;
		height: 2px;
		background: #fff;
		border-radius: 5px;
	}
	.menu__list {
		display: none;
		position: absolute;
		top: 5px;
		left: 10px;
		background:#018FE3;
		padding: 60px 25px 5px;
		box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
		border-radius: 10px;	
		margin: 0px;
	
		
	}
	.menu__list--active {
		display: block;
		transition: all 1s;
		
		
	}
	.menu__list-item + .menu__list-item {
		margin-left: 0px;
	}
	.menu__list-item {
		margin-bottom: 15px;
	}
	.main {
		padding: 80px 43px;
		position: relative;

	}
	.main__info-title {
		font-size: 24px;
		line-height: 32px;
		text-align: center;
		max-width: 218px;
		margin: 0 auto;
		margin-bottom: 20px;
	}
	.main__info-subtitle {
		font-size: 16px;
		line-height: 21px;
		text-align: center;
		color: #FFFFFF;
		max-width: 326px;
		margin: 0 auto 40px;
	}
	.main__info-btn {
		display: block;
		padding: 15px 20px;
		font-weight: 500;
		font-size: 14px;
		line-height: 17px;
		margin: 0 auto;
	}


	.work {
		padding: 35px 0px;
	}
	.work-title {
		margin-bottom: 30px;
	}
	.work__subtitle {
		font-size: 15px;
		line-height: 21px;
		max-width: 338px;
		margin-bottom: 25px;
	}
	.work__item-img {
		display: none;
	}
	.work__items {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding-left: 30px;
		
	}
	.count {
		width: 30px;
		height: 30px;
		font-size: 16px;
		line-height: 19px;
		left: -45px;

	}
	.work-item {
		padding: 0;
		margin: 0 auto 20px;
	}
	.work-item__title {
		font-size: 15px;
		line-height: 22px;
		margin-bottom: 5px;
	}
	.work-item__text {
		font-size: 14px;
		line-height: 20px;
		max-width: 300px;
	}

	.section--padding {
		padding: 35px 0px;
	}
	.character-title {
		margin-bottom: 34px;
	}
	.chatacter-subtitle {
		font-size: 15px;
		line-height: 21px;
		max-width: 351px;
		margin-bottom: 25px;
	}
	.character__items {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		grid-gap: 0px;
	}
	.character__item-img {
		width: 30px;
		height: 30px;
	}
	.character__item {
		padding-left: 45px;
		margin-bottom: 20px;
	}
	.character__item-title {
		font-size: 15px;
		line-height: 22px;
		margin-bottom: 5px;
	}
	.character__item-text {
		font-size: 14px;
		line-height: 20px;
	}

	.member {
		padding: 30px 0px;
	}
	.member__inner {
		flex-direction: column;
	}
	.member-title {
		font-size: 18px;
		line-height: 26px;
		position: relative;
		text-align: center;
		margin-bottom: 30px;
	}
	.member-title::after {
		content: '';
		position: absolute;
		width: 60px;
		height: 3px;
		background-color: #fff;
		border-radius: 5px;
		bottom: -10px;
		left: 50%;
		transform: translateX(-50%);
	}
	.member-subtitle {
		font-size: 15px;
		line-height: 21px;
		text-align: center;
		margin-bottom: 25px;
	}
	.member-btn {
		font-size: 12px;
		line-height: 14px;
		letter-spacing: 1px;
	}
	.development {
		padding: 35px 0px;
	}
	.development__content-title  {
		font-size: 18px;
		line-height: 26px;
		text-align: center;
		position: relative;
		margin-bottom: 35px;
		
	}
	.development__content-title::after {
		content: '';
		position: absolute;
		width: 60px;
		height: 3px;
		background-color: rgba(5, 129, 162, 0.8);;
		border-radius: 5px;
		bottom: -15px;
		left: 50%;
		transform: translateX(-50%);
	}
	.developer-img {
		display: none;
	}
	.development__list-title {
		font-size: 15px;
		line-height: 22px;
		margin-bottom: 5px;
	}
	.development__list-item img {
		width: 30px;
		height: 30px;
	}
	.development__list-item {
		padding-left: 45px;
		margin-bottom: 20px;
	}
	.development__list-text {
		max-width: 306px;
		font-size: 14px;
		line-height: 20px;
	}
	.statistic-item__text {
		font-size: 14px;
		line-height: 20px;
		max-width: 306px;
	}
	.statistics__items {
		padding-left: 45px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		grid-gap: 0px;
	}
	.application-title {
		margin-bottom: 30px;
	}
	.application-text {
		padding: 20px 15px;
		font-size: 14px;
		line-height: 20px;
		margin-bottom: 25px;

	}
	.application-subtitle {
		font-size: 15px;
		line-height: 21px;
	}
	.application-box-title {
		font-size: 14px;
		line-height: 20px;
		margin-bottom: 15px;
	}
	.application__inner {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}
	.application-item + .application-item {
		margin-left: 0px;
	}
	.application-item img {
		width: 30px;
		height: 30px;
	}
	.application-item {
		padding-left: 45px;
		font-size: 14px;
		line-height: 20px;
		max-width: 380px;
		margin-bottom: 20px;
	}
	.about {
		padding: 25px 0px;
	}
	.about__inner {
		flex-direction: column;
	}
	.about__info {
		margin-bottom: 25px;
	}
	.about__info-title,
	.about__contact-title {
		font-size: 16px;
		line-height: 19px;
		margin-bottom: 15px;
	}
	.about__info-text {
		font-size: 13px;
		line-height: 19px;
	}
	.about__contact-item {
		padding-left: 24px;
		font-size: 14px;
		line-height: 14px;
	}
	.about-phone::after, .about-mail::after {
		content: '';
		position: absolute;
		width: 13px;
		height: 14px;
		background-position: center;
		background-repeat: no-repeat;
		left: 0px;
		top: 50%;
		transform: translateY(-50%);
		background-size: contain;
  	}
	  .footer {
		  padding: 15px 30px;
	  }
	.footer__menu {
		  display: none;
	}
	.footer-copy {
		font-size: 12px;
		line-height: 14px;
	}


}


/* Media */