/* Link fonts */
@font-face {
	font-family: 'SF Pro Display';
	src: url('../fonts/SFProDisplay-Medium.eot');
	src: local('SF Pro Display Medium'), local('SFProDisplay-Medium'),
		 url('../fonts/SFProDisplay-Medium.woff') format('woff'),
		 url('../fonts/SFProDisplay-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal
}

@font-face {
	font-family: 'SF Pro Display';
	src: url('../fonts/SFProDisplay-RegularItalic.eot');
	src: local('SF Pro Display Regular Italic'), local('SFProDisplay-RegularItalic'),
		 url('../fonts/SFProDisplay-RegularItalic.woff') format('woff'),
		 url('../fonts/SFProDisplay-RegularItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'SF Pro Display';
	src: url('../fonts/SFProDisplay-Bold.eot');
	src: local('SF Pro Display Bold'), local('SFProDisplay-Bold'),
		 url('../fonts/SFProDisplay-Bold.woff') format('woff'),
		 url('../fonts/SFProDisplay-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'SF Pro Display';
	src: url('../fonts/SFProDisplay-Regular.eot');
	src: local('SF Pro Display Regular'), local('SFProDisplay-Regular'),
		 url('../fonts/SFProDisplay-Regular.woff') format('woff'),
		 url('../fonts/SFProDisplay-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
/* Link fonts */

/* Main Style */

body {
	font-family: 'SF Pro Display';
	font-weight: normal;
	font-style: normal;
	font-size: 28px;
	line-height: 37px;
	color: #000000;
}
.title {
	font-weight: bold;
	font-style: normal;
	color: #000000;
	font-size: 42px;
	line-height: 50px;
	position: relative;
}
.title::after {
	content: '';
	position: absolute;
	width: 120px;
	height: 5px;
	background-color: rgba(5, 129, 162, 0.8);
	border-radius: 12px;
	bottom: -15px;
	left: 50%;
	transform: translateX(-50%);
}
.title--blue {
	font-weight: bold;
	font-style: normal;
	font-size: 42px;
	line-height: 50px;
	color: #018FE3;
}
.section--padding {
	padding: 100px 0px 90px;
}

.container {
	max-width: 1340px;
	padding: 0px 10px;
	margin: 0 auto;
}


/* Main Style */



/* Header */
.header {
	padding: 25px 0px 24px;
	font-size: 16px;
	line-height: 20px;

}
.header__inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__connection-tel {
	padding-left: 37px;
	position: relative;

}
.header__connection-tel::after {
	content: '';
	width: 22px;
	height: 22px;
	position: absolute;
	background-image: url('../images/icon-tel.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}
.header__connection-mail {
	padding-left: 37px;
	margin-left: 30px;
	position: relative;
}
.header__connection-mail::after {
	content: '';
	width: 22px;
	height: 17px;
	position: absolute;
	background-image: url('../images/icon-mail.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}

.header__user-log-in {
	padding-left: 37px;
	font-size: 16px;
	line-height: 20px;
	position: relative;
}
.header__user-log-in::after {
	content: '';
	width: 16px;
	height: 20px;
	position: absolute;
	background-image: url('../images/icon-lock.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}
.header__user-registration {
	padding-left: 37px;
	font-size: 16px;
	line-height: 20px;
	margin-left: 30px;
	position: relative;
}
.header__user-registration::after {
	content: '';
	width: 22px;
	height: 22px;
	position: absolute;
	background-image: url('../images/icon-user.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}
/* Header */

/* Main */

.main {
	padding: 60px 0px 370px;
	background-image: url('../images/main-bg.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	color: #FFFFFF;
}

.menu {
	

}
.menu__list {
	display: flex;
	font-size: 22px;
	line-height: 26px;
	align-items: center;
	justify-content: end;
	font-weight: 500;
	margin-bottom: 270px;
}
.menu__list-item  + .menu__list-item{
	margin-left: 40px;
}
.menu__list-link {
}
.main__info {
}
.main__info-title {
	font-weight: bold;
	font-size: 60px;
	line-height: 66px;
	
	margin-bottom: 50px;
}
.main__info-subtitle {
	max-width: 1050px;
	font-size: 34px;
	line-height: 46px;
	font-size: 34px;
	line-height: 46px;
	margin-bottom: 40px;
}
.main__info-btn {
	font-weight: 500;
	font-size: 28px;
	line-height: 46px;
	color: #FFFFFF;
	padding: 15px 30px;
	background: #018FE3;
	border-radius: 7px;
}

/* Main */

/* About */

.work {
	padding-top: 100px ;
}

.work-title {
	text-align: center;
	margin-bottom: 65px;
}

.work__subtitle {
	max-width: 1076px;
	font-style: italic;
	font-weight: normal;
	font-size: 28px;
	line-height: 37px;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 25px;
}
.work__items {
	display: flex;
}
.work-item {
	margin-left: 100px;
	position: relative;
	margin-top: 80px;
}
.count {
	position: absolute;
	top: 0;
	left: -100px;
	width: 70px;
	height: 70px;
	color: rgba(5, 129, 162, 0.8);
	border: 5px solid rgba(5, 129, 162, 0.8);
	filter: drop-shadow(4px 4px 4px rgba(5, 129, 162, 0.15));
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.work__item-img  img {
	object-fit: cover;
	max-width: 430px;
	height: 534px;
}
.work-item__title {
	font-weight: 600;
	font-size: 34px;
	line-height: 41px;
	margin-bottom: 20px;
}
.work-item__text {
	max-width: 364px;

}
.statistic-item__text {
	max-width: 530px;
}

/* About */

/* Character */
.character {
	background: #F6F6F6;
}
.character-title {
	text-align: center;
	margin-bottom: 65px;
}
.chatacter-subtitle {
	max-width: 1118px;
	text-align: center;
	font-style: italic;
	font-weight: normal;
	margin: 0 auto;
	margin-bottom: 80px;
}
.character__items {
	display: grid;
	grid-template-columns: repeat(2,1fr);
	grid-gap: 50px 180px;
}
.character__item {
	max-width: 642px;
	padding-left: 100px;
	position: relative;
	
}
.character__item-img {
	position: absolute;
	width: 70px;
	height: 70px;
	object-fit: cover;
	left: 0px;
	top: 0px;
}
.character__item-title {
	font-weight: 600;
	font-size: 34px;
	line-height: 41px;
	color: #000000;
	margin-bottom: 20px;
}
.character__item-text {
}


/* Character */

/* Development */

.development {
	display: flex;
	align-items: center;
	justify-content: center;
}
.development__content {
	
}
.development__content-title {
	font-weight: bold;
	font-size: 42px;
	line-height: 50px;
	margin-bottom: 70px;
	text-align: center;
}

.development__list {
	max-width: 740px;
	margin: 0 auto;
	margin-left: 15px;
}
.development__list-item {
	margin-bottom: 60px;
	padding-left: 100px ;
	position: relative;
}
.development__list-item img {
	position: absolute;
	top: 0px;
	left: 0px;
}
.development__list-title {
	margin-bottom: 20px;
	font-weight: 600;
	font-size: 34px;
	line-height: 41px;
}
.development__list-text {
	max-width: 730px;
	font-size: 27px;
	line-height: 30px;
}
.developer-img img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

/* Development */

/* Member */

.member {
	padding: 70px 0px;
	background: #018FE3;
}

.member__inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.member__info {

}
.member-title {
	font-style: normal;
	font-weight: bold;
	font-size: 42px;
	line-height: 50px;
	color: #FFFFFF;
	margin-bottom: 20px;
}
.member-subtitle {
	color: #fff;
	max-width: 724px;
	font-style: normal;

}
.member-btn {
	background: #FFFFFF;
	border-radius: 7px;	
	padding: 15px 30px;
	color: #018FE3;
	font-weight: 500;
	font-size: 28px;
	line-height: 46px;
}


/* Member */

/* Aplication */


.application-title {
	text-align: center;
	margin-bottom: 65px;
}

.application-text {
	padding:50px 70px ;
	border: 2px solid rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	text-align: center;
	margin-bottom: 70px;
}
.application__box {
}
.application-box-title {
	margin-bottom: 40px;
}
.application__inner {
	display: flex;
}
.application-item + .application-item {
	margin-left: 60px;
}
.application-item {
	max-width: 411px;
	position: relative;
	padding-left: 100px;

}
.application-item img {
	width: 70px;
	height: 70px;
	object-fit: cover;
	position: absolute;
	left: 0px;
	top: 0;
}
/* Aplication */  


/* About */

.about {
	padding: 80px 0px 90px;
	background: #1C1D1F;
	color: rgba(255, 255, 255, 0.6);

}
.container {
}
.about__inner {
	display: flex;
	justify-content: space-between;
}
.about__info {
}
.about__info-title,
.about__contact-title {
	font-weight: bold;
	font-size: 36px;
	line-height: 43px;
	margin-bottom: 30px;
}
.about__info-text {
	max-width: 542px;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	line-height: 35px;
}
.about__contact {
}

.about__contact-list {
}
.about__contact-item {
	margin-bottom: 40px;
	font-weight: 500;
	font-size: 26px;
	line-height: 26px;
	padding-left: 46px;
	position: relative;

}
.about-phone::after,
.about-mail::after {
	content: '';
	position: absolute;
	width: 26px;
	height: 26px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	left: 0px;
	top: 50%;
	transform: translateY(-50%);
}
.about-phone::after {
	background-image: url('../images/about-phone.svg');
}
.about-mail::after {
	background-image: url('../images/about-mail.svg');
}

/* About */

/* Footer */

.footer {
	padding: 25px;
	background-color: #000;
}
.footer__inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.footer-copy {
	color: #fff;
	font-style: normal;
	font-weight: 500;
	font-size: 22px;
	line-height: 30px;
}

.footer__menu {
	display: flex;
	color: rgba(255, 255, 255, 0.5);
}

.footer__menu-item + .footer__menu-item {
	margin-left: 20px;
}

.footer__menu-link{
	
}
/* Footer */